.container-fluid {
    background-color: #1995ad;
}
.jatekok {
    margin-left: 43%;
    margin-top: 10%;
}
.gomb {
    margin-top: 3%;
}
h1 {
    text-align: center;
}

img {
    max-width: 10%;
}
body {
    background-color: #1995ad;
}
.elerhetoseg {
    margin: 0 auto;
}



